<div class="container">
  <app-multiselect-dropdown [options]="selectBarOptions"></app-multiselect-dropdown>
  <h2 class="main-title">Популярные товары</h2>
  <div class="main__products-wrapper">
    <app-product-card
      *ngFor="let product of products; let e = even; let o = odd"
      [product]="product"
    ></app-product-card>
  </div>
  <h2 class="main-title">Акционные товары</h2>
  <div class="main__products-wrapper">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>
  </div>
</div>
