<div class="productPage__wrapper">
  <div class="product__header">
    <h1 class="product__title">Автошины Nokian Hakkapeliitta 9 (шип) 195/60 R16 93T </h1>
    <h3 class="product__id">Код товара: 17</h3>
      <button type="submit" class="btn product__favorite__button">
        <img width="20" height="20" src="assets/icons/needle.svg" alt="search-icon" />
        <p>В избранное</p>
      </button>
  </div>


  <div class="product__photo">
    <img class="" src="https://kupikolesa.it-trends.ru/images/cab27edee4cd198170f3630c84fb3c65.png" alt="product {{product.id}} image" >
  </div>
  <div class="product__information">
    <p class="product__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aspernatur aut consectetur consequuntur corporis culpa cupiditate delectus deleniti deserunt dicta dolorem eaque earum eligendi eum fuga ipsa ipsam ipsum iure magnam nesciunt, nobis omnis optio pariatur perspiciatis praesentium quaerat quasi quo rem, reprehenderit sapiente similique unde velit veritatis voluptate?</p>

  </div>
</div>
