<div class="container">
  <header class="header">
    <div class="header_wrapper">
      <div class="header__left-side">
        <div class="left__side-top">
          <a href="/" class="logo"
            ><img src="assets/images/logo-kupikolesa.svg" alt="logo"
          /></a>
          <a href="#" class="icon-map"
            ><img src="assets/icons/points.svg" alt="map" /><span
              >Пункты выдачи</span
            ></a
          >
        </div>
        <div class="left__side-bootom">
          <button class="btn btn-header-transport btn-header-transport-tires">
            Шины
            <img
              src="../../../../../assets/icons/arrow-dropdown.svg"
              alt="arrow-dropdown"
            />
          </button>
          <button class="btn btn-header-transport btn-header-transport-disks">
            Диски
            <img
              src="../../../../../assets/icons/arrow-dropdown.svg"
              alt="arrow-dropdown"
            />
          </button>
          <button
            class="btn btn-header-transport btn-header-transport-mototires"
          >
            Мотошины
            <img
              src="../../../../../assets/icons/arrow-dropdown.svg"
              alt="arrow-dropdown"
            />
          </button>
        </div>
      </div>
      <div class="header__right-side">
        <div class="header__right-side-top">
          <div class="header__phones-regions">
            <a href="tel:+8(888)888-88-88" class="header__phone-number"
              >8(888)888-88-88</a
            >
            <p>Регионы РФ</p>
          </div>
          <div class="header__phones-capital">
            <a href="tel:+8(888)888-88-88" class="header__phone-number"
              >8(888)888-88-88</a
            >
            <p>Москва и МО</p>
          </div>

          <div class="header__call-back">
            <a href="/">
              <img src="assets/icons/route-2.svg" alt="route" />
              <span>Что с заказом</span>
            </a>
            <a href="/">
              <img src="assets/icons/call-in.svg" alt="call" />
              <span>Перезвони мне</span>
            </a>
          </div>
          <div class="header__personal-account">
            <a class="header__personal-account-link" href="/">
              <div class="header__pearsonal-account-icons">
                <img
                  class="personal-account-icon"
                  src="assets/icons/man-(person).svg"
                  alt="personal-account"
                />
                <img
                  src="assets/icons/arrow.svg"
                  alt="arrow"
                  class="personal-account-arrow"
                />
              </div>
              <p>Кабинет</p>
            </a>
          </div>
        </div>

        <div class="header__menu">
          <button class="btn btn__header-menu btn__header-menu-search">
            <img src="assets/icons/search.svg" alt="search-icon" />
            Поиск
          </button>
          <button class="btn btn__header-menu btn__header-menu-favorites">
            <img src="assets/icons/needle.svg" alt="search-icon" />
            Избранное
          </button>
          <a href="/cart" class="btn btn__header-menu btn__header-menu-basket">
            <img src="assets/icons/basket.svg" alt="search-icon" />
            Корзина<span class="basket-counter">0</span>
          </a>
        </div>
      </div>
    </div>
    <a class="header__link-to-main" href="/">Главная</a>
  </header>
</div>
