*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #262c27;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

@media screen and (max-width: 1145px) {
  .header_wrapper {
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    .header__left-side {
      padding: 24px;
      .left__side-top {
        .icon-map {
          span {
            width: 130px;
          }
        }
        .logo {
          width: 100%;
          img {
            width: 100%;
          }
        }
      }
    }
    .header__right-side {
      min-height: 170px;
    }
  }
}

@media screen and (max-width: 502px) {
  .header_wrapper {
    flex-direction: column;
    .header__left-side {
      padding: 0;
      .left__side-top {
        flex-direction: column;
        .logo {
          width: 100%;
          padding: 25px 0;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
